---
extends: _layouts.post
section: content
image: https://i.dailymail.co.uk/1s/2020/09/01/21/32659850-0-image-a-2_1598990632918.jpg 
title: Florida cuts ties with Quest after the firm tried to dump 75k old covid test results 
description: Quest failed to report the results of nearly 75,000 coronavirus tests administered in Florida - including 3,870 positives - dating as far back as April on Monday night. DeSantis is severing all ties. 
date: 2020-09-01-21-15-41 
categories: [latest, health] 
featured: true 
--- 
Florida's health department is 'severing all ties' with Quest Diagnostics after officials discovered the testing giant has failed to report the results of nearly 75,000 coronavirus tests since April. 

Among the 75,000 old test results were 3,870 positives, but most of these were over two weeks old. 

Quest did report the results to providers and patients, so those who tested positive knew their status, although the state did not, according to a statement issued by the company. 

'The law requires all COVID-19 results to be reported to DOH in a timely manner,' said Governor Ron DeSantis in a Tuesday statement. 

'To drop this much unusable and stale data is irresponsible.' 

Quest's data dump resulted in an additional 7,643 new cases added to Florida's tally on Tuesday, though only 3,773 of those were truly new, according to the health department. 

Florida saw a huge spike of 7,643 coronavirus cases on Monday after Quest Diagnostics 'dumped' the results of nearly 75,000 tests dating as far back as April. Of thee added cases, only 3,773 were new and 3,870 were from the Quest data 

If the out-of-date Quest tests were counted, Florida's positivity rate would now be 6.8 percent. 

Without the Quest data, the positivity rate - while still fairly high - is a more modest 5.9 percent. 

The 75,000 tests for which Quest belatedly returned results on Monday night were predominantly about two weeks old, although some were from samples taken nearly five months ago. 

'Quest’s failure to report nearly 75,000 results dating back to April means most of the data in today’s upload – while it will have historical significance – will have little impact on the status of the pandemic today,' wrote the Florida Department of Health in its Tuesday statement. 

In total, 631,040 people have tested positive for COVID-19 in Florida now, including the 3,870 whose test results were finally reported by Quest last night. 

As of Tuesday, 11,518 people diagnosed in Florida have died. 

Cases surged in the Southern state in June and July as it rose to become the third hardest-hit state in the US, behind only California and Texas. 

Importantly, Quest claims that there were not delays in its reporting of results to the individuals who were tested, which offers a glimmer of hope that those who tested positive would have stayed home and isolate themselves so as to not infect others. 

Without the state's knowledge, however, their contacts would not have been formally traced and tested. 

Insufficient testing and backlogs of results have dogged the ability of the US - and Florida in particular - to respond to the pandemic, drawing wide criticism from health experts. 

This is not the first major COVID-19 data gaffe to affect Florida. 

The state was slammed in May for failing to include people who died in Florida but whose primary residences were elsewhere in its death toll. 

Quest has run 1.4 million tests administered in Florida. The withheld 75,000 results reported Monday night account for about five percent of the testing the company did in the state (file)

Both local and federal officials have had a reprieve from scrutiny in recent weeks as the number of new cases and daily positivity rate have fallen in Florida. 

The revelation of unreported Quest data somewhat undermines that progress. 

According to the testing giant, it has been responsible for 1.4 million of the 4,682,883 diagnostics administered in the state. 

The 75,000 previously missing results, then, account for over five percent of tests run by Quest in Florida, and about 1.6 percent of all tests performed in Florida. 

'Quest Diagnostics takes seriously our responsibility to report laboratory data to public health authorities in a timely manner to aid pandemic response,' Quest said in a statement. 

'Due to a technical issue, our reporting of a subset of public health COVID-19 test data to the Florida Department of Health was delayed...We apologize for this matter and regret the challenge it poses for public health authorities in Florida. The issue has since been resolved.' 

Nonetheless, Governor DeSantis has cut the state's ties with the diagnostic company entirely. 

'I believe that Quest has abdicated their ability to perform a testing function in Florida that the people can be confident in,' he said. 

'As such I am directing all executive agencies to sever their COVID-19 testing relationships with Quest effective immediately.' 

