---
extends: _layouts.post
section: content
image: https://i.dailymail.co.uk/1s/2020/09/26/20/33659618-0-image-a-28_1601149569074.jpg 
title: Matt Hancocks track and trace app blocks all NHS test results 
description: Health Secretary Matt Hancocks new coronavirus tracing app only registers test result for people who have tested privately rather than with the National Health Service. 
date: 2020-09-26-22-20-41 
categories: [latest, news] 
featured: true 
--- 
The new coronavirus tracing app was hit by another fiasco last night after it blocked tens of thousands of users from logging their test results.

The app asks users to input a special pin code when they receive their results. But humiliatingly for the Government, only those tested privately for Covid actually received the code.

Those tested by the NHS did not get one – and, consequently, have been unable to register their results.

Flaws in the app emerged within hours of its launch last Thursday.

Matt Hancock's new coronavirus tracing app was hit by another fiasco last night after it blocked tens of thousands of users from logging their test results

It relies on Bluetooth to determine if someone has been within two metres of an infectious person for 15 minutes, but other Bluetooth devices can interfere with the signal, generating a ‘false positive’. 

To compound the problems, it has also transpired that the app doesn’t work on millions of older smartphones.

Last night, Shadow Health Secretary Jonathan Ashworth said of the latest glitch: ‘This beggars belief.’

The faults were uncovered as:

They then receive a text message, email or phone call telling them to self-isolate for 14 days and to book a test, although only if they develop symptoms.

It asks users to enter a code when they receive the results of their test.

However, it has emerged that only ‘Pillar 2’ tests – those carried out by commercial testing centres – provide the relevant codes.

The app relies on Bluetooth to determine if someone has been within two metres of an infectious person for 15 minutes, but other Bluetooth devices can interfere with the signal, generating a ‘false positive’

Although people tested under ‘Pillar 1’ – the NHS and Public Health England – will still be contacted by NHS Test and Trace if they test positive, they could not log the result on the app and alert everyone they have been in close contact with.

After a flood of complaints yesterday, the Department of Health and Social Care said it was ‘urgently’ trying to fix the problem. Hours later it promised that ‘everyone who receives a positive test result can log their result on the app’ by requesting a code from NHS Test and Trace.

The latest official Government figures show that a total of 409,975 people have been tested in England since the app was rolled out on Thursday morning, including 128,960 Pillar 1 and 281,015 Pillar 2 tests. The blunder means that the results of 31 per cent of the tests carried out on Thursday and Friday have not been logged.

Although the exact numbers are unclear, it potentially means that hundreds of positive cases uncovered since the app’s official launch have not yet been registered.





The shocking oversight came to light only after a Twitter user asked how he could log his test result if he did not have a code.

In response, the official Twitter page for the NHS Covid-19 app said: ‘If your test took place in a Public Health England lab or NHS hospital, or as part of national surveillance testing conducted by the Office for National Statistics, test results cannot currently be linked with the app whether they’re positive or negative.’

The reply was met with outrage online, with many users questioning why it was called an ‘NHS app’ when it did not recognise tests carried out by the NHS.

Last night, Mr Ashworth said: ‘This just beggars belief. How can this app be effective if someone is unable to link up their tests carried out by the NHS or tests carried out for surveillance? We all have an interest in this app working which is why we’ve promoted its uptake.

‘This weekend Ministers have thrown cash at promoting this app across local and national newspapers. They need to outline how they will quickly fix this flaw.’



A Department of Health and Social Care spokesman said: ‘We are urgently working to enable positive tests for people who aren’t already given a code to be added to the Covid-19 app.

‘NHS Test and Trace will continue to contact people by text, email or phone if your test is positive advising you to self-isolate and for those who don’t have a code, the contact tracers will shortly be able to provide codes to insert in the app.

‘If you book your test via the app, the results will be automatically recorded and the isolation countdown will be updated.’

The Welsh Government revealed it is an England-only issue. In a tweet yesterday after the Department of Health and Social Care statement, it said: ‘This issue doesn’t apply to Wales. We took the decision to link our all-Wales laboratory testing systems with the NHS Covid-19 app.’

Last week’s launch came after a fourth-month delay beset by technological problems.

A trial on the Isle of Wight had to be abandoned after the initial model failed to detect iPhones.

