---
extends: _layouts.post
section: content
image: https://i.dailymail.co.uk/1s/2020/09/26/13/33650320-0-image-a-68_1601123782157.jpg 
title: NHS Covid-19 app bug refuses to let users enter negative test results 
description: When users tell the app they have coronavirus symptoms it launches a 14-day self-isolation tracker. But if they dont book tests through it they cant enter a negative result and turn it off. 
date: 2020-09-26-14-12-49 
categories: [latest, news] 
featured: true 
--- 
People in England using the NHS Track and Trace app are unable to enter a negative test result if they did not use it to book their swab, it was revealed. 

When users tell it they have coronavirus symptoms - either a high temperature, new continuous cough or loss of taste or smell - the app immediately launches a 14-day self-isolation countdown and advises them to get tested.

But if they don't book this via the device, it won't let them enter a negative result or turn off the countdown.

The Department for Health and Social Care said the app will be updated.

Users are unable to turn off an alert telling them to self-isolate if they book their test without using the device and then test negative 

The NHS Test and Trace app will tell people their local area risk level (left), allow them to check in to places they visit (centre) and will warn people if they have been in contact with someone who tests positive or if they report symptoms themselves (right)

Hundreds of people who downloaded the app after its launch on Thursday, when they had already booked a test, have encountered the problem.

Professor Deborah Ryan, from the University of Portsmouth, told the BBC the bug was 'confusing' as 'the app doesn't tell you that you can't enter negative tests booked outside of it'.

She added: 'And the app still tells you to quarantine if you entered symptoms. So this means I can't turn off the self-isolation alert in the app?'

Test results from swabs by the Office for National Statistics surveys, NHS Hospitals or Public Health England also cannot be entered into the app - meaning it may miss people who need to self-isolate.

More than four million people have downloaded the much-touted software over the past three days, with experts warning they need half the UK to get the device for it to be effective.

The coronavirus apps launched in Scotland and Northern Ireland have not encountered these problems.

The Department of Health said use of the app was 'entirely voluntary' and advice to get a test or self-isolate cannot be enforced.

 

At a press conference on Thursday Professor Christophe Fraser, who helped design the app, said it would be effective at curbing the spread of the virus if it was downloaded by just 15 per cent of people.

'This is about the benefit to the individual in your local network,' he said. 'The answer is you need to download the app for it to have an effect for you and on your personal social network, and you need to encourage your friends and family to do the same.'

Pilots of the app on the Isle of Wight found it brought Covid-19 'really under control', reducing the virus R rate there from one to just 0.25, according to a study by the University of Oxford published in July.

The dramatic reduction took just 18 days as cases tumbled after the introduction of a contact tracing system and a mobile app while lockdown was still in force.

The R later rose to around 0.54 — but still below the critical threshold of 1.0 that may see an outbreak spiral out of control — by the middle of June as lockdown measures loosened around England.

But Test and Trace on mainland England appears to be having 'no particular impact', the Oxford researchers said, with the outbreak not shrinking as rapidly in June as it did on the island in May.

Bluetooth technology will keep a record of which phones spend 15 minutes within 2metres (6'7') of one another and then alert people if they have been near someone who later tests positive for Covid-19.   

People's phones are only recognised by the system if they are running the app themselves - it cannot detect others.

The contacts it keeps track of are all anonymous and phones exchange digital 'tokens' with every app-using phone within Bluetooth range.

If one person develops symptoms of the coronavirus or tests positive, they will be able to enter this information into the app.

The phone will then send out a notification to all the devices they have exchanged tokens with during the infection window, to make people aware they may have been exposed to COVID-19.

Each phone keeps an individual log of the Bluetooth profiles someone has come close to. These will then be linked anonymously to people's NHS apps and alerts can be pushed through that even after the person is out of bluetooth range.

People can delete their data from this app at any time.

Users will also have an 'isolation companion' which has countdown timer if someone has to self-isolate, and will be able to 'check in' to places such as pubs and restaurants using QR codes. 

They will also be shown what the risk level is in their local area based on the first half of their postcode, with places being categorised as low, medium or high risk. 

Will the app tell me what to do?

The app can only react to data that people put into it, and it will only ever offer guidance. If a user reports that they have symptoms of coronavirus - a new continuous cough, a fever, or a changed sense of smell or taste, they will be urged to self-isolate for 10 days from the start of the symptoms and to get tested.

If they test positive for Covid-19 at any time, they should report this to the app. The app then sends out an anonymous alert to everyone with whom that person has been within 2m (6'7") of for 15 minutes or more since they started feeling ill. 

That person may then be asked to self-isolate or to get tested if they feel unwell.

 How well does it work? 

The app is far from perfect, with the Department of Health has admitted that around half of people who are warned they have been near an infected person will actually not have been within the 2m for 15 minutes danger window.

And three out of 10 people who were put at risk - 31 per cent - won't receive a notification at all. In trials it had a 69 per cent accuracy rate at detecting people who had been at risk, and it was 55 per cent accurate at detecting people who had not.     



This, they suggested, might be because the UK as a whole does not have a contact tracing mobile app. An app was trialled on the Isle of Wight — where it sent out more than 1,000 warnings to people who may have been infected — but was later abandoned.

Government officials scrapped their app because they said it didn't work on iPhones and the technology has now become a contentious issue. Officials say the app is still 'urgent' but refuse to say when one might become available.

One researcher in the Isle of Wight study said digital contact tracing could have 'an incredible impact, in theory' and another added 'we are supportive of the getting the app out in the UK'.

The app's launch was repeatedly delayed after the NHS chose to work on its own, instead of with tech giants Google and Apple.

Officials initially promised the app would be ready in May but, after ongoing technical problems, the launch had to be rolled back to September 24.

It has added to the NHS Test & Trace service, which aims to track down people that have been exposed to coronavirus and isolate them in order to prevent a further spread of infection.

