---
extends: _layouts.post
section: content
image: https://i.dailymail.co.uk/1s/2020/09/05/09/32805296-0-image-a-30_1599294462211.jpg 
title: The Circle bosses panicking as they wait for celebrity contestants COVID-19 test results  
description: According to a report from The Sun on Friday, the reality dating show is said to be under threat as show bosses dont have back up options for any celebrities whose test may come back positive. 
date: 2020-09-05-09-42-09 
categories: [latest, tv] 
featured: true 
--- 
The Circle's celebrity edition has allegedly hit a road block as stars begin to take their coronavirus tests before filming begins.  

According to a report from The Sun on Friday, the reality dating show is said to be under threat as show bosses don't have back up options for any celebrities whose test may come back positive. 

A source speaking to the publication claimed: 'They've made a boo-boo - they're testing people for Covid on the 3rd and the 5th of September.

'They've made a boo-boo': The Circle bosses 'are left panicking as they wait for celebrity contestants' COVID-19 results after failing to arrange back-up stars', it was reported on Friday

'They were in a mad panic in recent days that they haven't got any backups. So if anyone has got coronavirus, they're in trouble.

'It's hard to get famous people last-minute, so it's unsure what plan B will end being.'

As celebrities will have to wait 48 hours to find out the results of their test it's unclear how the delay may impact the show's filming schedule, or if last minute preparations will have to be made.

MailOnline has contacted Channel 4 for comment.

Delay: As celebrities will have to wait 48 hours to find out the results it's unclear how the delay may impact the show's filming schedule, or if last minute preparations will have to be made 

Concerns: A source claimed, 'They were in a mad panic in recent days that they haven't got any backups. So if anyone has got coronavirus, they're in trouble' (pictured: host Emma Willis)

In June, it was revealed that Channel 4 had recommissioned the award-winning reality series for a third run, as well as The Celebrity Circle.

The latter is part of the Stand Up To Cancer campaign this year, which sees shows such as Hunted and The Great British Bake Off get the celebrity treatment to raise funds for Cancer Research UK.

Emma Willis will also return to front the show, as she did for the previous season.

The concept of the reality format is 'anyone can be anyone' - and echos Big Brother in that it sees a group of strangers sent to live under 24 hour camera surveillance.

Famous faces: The Celebrity Circle will be part of the Stand Up To Cancer campaign this year to raise funds for Cancer Research UK

The difference is that the contestants aren't able to see one another or talk, and they are separated, all living apart.

The show's second season in 2019 was Channel 4’s highest rating 10PM series for 16-34-year-old viewers since 2010 and was one of All 4’s top 10 most viewed titles of the year.

Joining Emma again will be comedian Sophie Willan, who will narrate the show.

The special week-long celebrity edition will run with production planned to begin later in 2020 and broadcast set for 2021.

Champions: [L-R] Paddy Smyth won the show in 2019, hosted by Emma and followed by runner-up Tim Wilson

Producers have assured that filming will proceed in line with COVID-19 TV guidelines prompting a change to the format that will see the UK series closely reflect the international versions of the show which are pre-recorded.

This means the studio audience and the live shows will be scrapped for this season.

The show will see an apartment block in Britain welcome a new set of residents who will live in separate units and befriend each other using only a social media platform called The Circle.

Players rate each other based on whom they like – and dislike - and compete against each other to gain power, with unpopular players at risk of being blocked. Once blocked, and before leaving the show, the eliminated players will get to meet other players in person for the first time. 

Line-up: It's unsure who will feature in the civilian or celebrity version 2021

