---
extends: _layouts.post
section: content
image: https://i.dailymail.co.uk/1s/2020/09/14/22/33179090-0-image-a-21_1600118576826.jpg 
title: Why you CANT always count on tests results  
description: There are a multitude of ways to check if you have a particular condition. The results, however - whether its a DIY test or one via your doctor - cant always be relied upon. 
date: 2020-09-14-22-34-05 
categories: [latest, health] 
featured: true 
--- 
From nasal swabs for the coronavirus, to home pregnancy kits and allergy tests, there are a multitude of ways to check if you have a particular condition. The results, however — whether it’s a DIY test or one via your doctor — can’t always be relied upon.

For instance, the skin-prick tests widely used to diagnose food allergies frequently flag up a problem that isn’t there. Indeed, Fare, the world’s biggest food allergy charity, warns that the tests give these so-called false positive results 50 to 60 per cent of the time.

And pregnancy tests have the opposite problem — failing to detect the baby that is most definitely there. Studies from the Washington University School of Medicine in the U.S., carried out over the past decade, have found that home pregnancy tests fail to spot up to one in 20 pregnancies.

Meanwhile the DIY swab tests that show if someone has Covid-19, for instance, may be missing almost a third of cases, according to a recent review by Spanish researchers. It looked at five studies involving almost 1,000 people and found that between 2 and 29 per cent of negative results are wrong and the person does have the disease.

Studies from the Washington University School of Medicine in the U.S., carried out over the past decade, have found that home pregnancy tests fail to spot up to one in 20 pregnancies (file image)

‘No test is perfect,’ says Keith Neal, an emeritus professor in the epidemiology of infectious diseases at the University of Nottingham.

There is no single reason why test results can’t always be trusted, adds Dr Nick Summerton, a GP, who has advised the Government on diagnostic technology and has written four books on diagnosis and testing. Rather, it depends on a number of factors including the condition, the testing technique, timing and even how closely the instructions are followed.

And, of course, no two people are the same. ‘Everybody is different,’ says Dr Summerton. ‘There’s no standard patient.

‘You might find a test has been assessed on a group of fit, young medical students — and so the results might not be relevant to older people with lots of underlying health conditions.’

It’s important to understand that testing kits aren’t regulated as stringently as drugs. The pre-marketing vetting focuses on a test’s safety, rather than proving it works as well as it claims to.

The NHS doesn’t require tests to reach a certain threshold of accuracy — but rather that they provide some sort of benefit. For instance, they may be more accurate than tests already in use, or safer or more cost effective.

This is also true for DIY kits, including home pregnancy tests. These look for a hormone called human chorionic gonadotropin (hCG), which is made by the cells that will go on to form the placenta after the fertilised egg attaches to the wall of the womb.

Meanwhile the DIY swab tests that show if someone has Covid-19, for instance, may be missing almost a third of cases, according to a recent review by Spanish researchers (file image)

Production of hCG usually starts six days after conception and levels rise rapidly, doubling every two to three days. If the test is done when the levels are still very low — perhaps because the woman has done it earlier than recommended or because she makes low amounts of the hormone — it can lead to a false negative result.

Another example is the skin-prick test widely used in clinical settings to diagnose allergies. It involves putting a drop of liquid containing a substance the patient may be allergic to on their forearm, before scratching the skin, allowing the liquid to seep into it.

The development of a red, itchy bump is a sign that the immune system has over-reacted to the substance — and that the person is allergic to it.

But problems, including difficulty in giving patients the right dose of a substance and the subjectivity involved in interpreting the changes to the skin, mean the results are often inaccurate.

With the DIY coronavirus tests, reasons for faulty results include difficulty in getting a big enough sample of the virus to test. Samples for the home test, for example, should be taken from the very back of the throat, which can be awkward to swab repeatedly.

Patients need to be aware that tests aren’t perfect and seek further help if their symptoms don’t improve, says Dr Nick Summerton, a GP, who has advised the Government on diagnostic technology and has written four books on diagnosis and testing (file image)

The infection can also spread so quickly that someone might go from testing negative in the morning to having a positive result in the evening, says Dr Alexander Edwards, an associate professor in biomedical technology at the University of Reading.

Finally, if there are delays in processing the sample in the lab, the virus’s genetic material may break down, wrongly leading to a negative result.

Whatever the condition, tests should be considered alongside the patient’s symptoms, medical history and any underlying conditions they have, says Dr Summerton.

While GPs should be doing this, patients need to be aware that tests aren’t perfect — the leaflets that come with home testing kits should contain information on their accuracy — and seek further help if their symptoms don’t improve, says Dr Summerton.

This might involve repeating the same test, or using an alternative technique for diagnosis. So if a woman still thinks she is pregnant, despite a negative test result, she should do a second test a few days later, to give her hCG levels time to rise. If that is still negative, but her period hasn’t come, she should see her GP.

